.sam-images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
    border-top: 1em;
    background-color: rgba(186, 5, 202, 0.103);
    padding-top: 1em;
    padding-bottom: 1em;
}

.sam-images:hover {
    cursor: grab;
}

#sam {
    width: 16.75em;
    height: 16em;
    margin-left: 2em;
    margin-right: 2em;
    border: solid rgb(226, 217, 85) .2em;
    border-radius: 3em;
}

.about-me-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.about-me-div .about-me-scroll {
    width: 90%;
}

.about-me-title {
    font-size: 300%;
    margin-bottom: unset;
    color: rgb(185, 185, 185);
}

.about-me-scroll {
    font-size: 110%;
    text-indent: 3em;
    margin-top: 1em;
    margin-bottom: unset;
    color: white;
}




@media screen and (max-width: 768px) {

    .sam-images {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        border-top: 1em;
        background-color: rgba(186, 5, 202, 0.103);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #sam {
        width: 12.25em;
        height: 12em;
        margin-left: 2em;
        margin-right: 2em;
        border: solid rgb(226, 217, 85) .2em;
        border-radius: 3em;
    }

    .about-me-title {
        font-size: 200%;
        margin-bottom: unset;
        color: rgb(185, 185, 185);
    }

    .about-me-div .about-me-scroll {
        width: 90%;

    }

    .about-me-div {
        margin-top: 1em;
    }

    .about-me-scroll {
        font-size: 90%;
        text-indent: 3em;
        margin-top: 1em;
        margin-bottom: unset;
        color: white;
    }

    @media screen and (max-width: 500px) {
        #sam {
            width: 9.1em;
            height: 9em;
            margin-left: 2em;
            margin-right: 2em;
            border: solid rgb(226, 217, 85) .2em;
            border-radius: 3em;
        }
    }
}
