.footer-area {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    /* background: linear-gradient(rgb(36, 0, 102), rgb(73, 35, 145)); */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-area a {
    margin: 0.5em;
    font-size: 400%;
    color: black;
}

.footer-area a:hover {
    color: rgb(34, 159, 231);
}

.footer-area .github-icon:hover {
    color: rgb(190, 74, 243);
}